---
import { getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import { SITE_TITLE } from "../../consts";
import Footer from "../../components/Footer.astro";
import MainLayout from "../../layouts/mainLayout.astro";
import MainPosts from "../../components/MainPosts.astro";

// Uses tag as dynamic params
export async function getStaticPaths() {
  let tagsName: Array<string> = [];
  const posts = await getCollection("blog");
  posts.forEach((item) => {
    if (item.data.tags != undefined) {
      tagsName.push(...item.data.tags);
    }
  });

  return tagsName.map((tagName) => {
    return { params: { tag: tagName } };
  });
}

let pathName = Astro.url.pathname.split("/");
let tagName = decodeURI(pathName[pathName.indexOf("tags") + 1]);

//  Get the content containing the Tag
const posts = await getCollection("blog", ({ data }) => {
  return data.tags?.includes(tagName) === true;
});
---

<MainLayout>
  <Header title={SITE_TITLE} />
  <main class="w-11/12 md:w-3/5 mx-auto mt-2 md:max-w-[90ch]">
    <div class="mb-2 mt-6 md:mt-20">
      <a href="/">Home</a>&nbsp;»&nbsp;
      <a href={"/" + "tags"}>Tags</a>
    </div>
    <h1 class="font-bold text-4xl dark:text-slate-200 mb-4">{tagName}</h1>
    <MainPosts posts={posts} />
  </main>
  <Footer />
</MainLayout>
