---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainPosts from "../components/MainPosts.astro";
import { SITE_TITLE, SITE_DESCRIPTION, PAGE_SIZE } from "../consts";
import Paginate from "../components/Paginate.astro";
import MainLayout from "../layouts/mainLayout.astro";
export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  return paginate(allPosts, { pageSize: PAGE_SIZE });
}
const { page }: { page: Page } = Astro.props;
interface Page {
  data: any; // Specify the type of data property here
  url: string;
}
---

<MainLayout pageTitle="page">
  <main class="w-11/12 md:w-3/5 mx-auto mt-2 mb-8">
    <MainPosts posts={page.data} />
  </main>
  <Paginate pageURL={page.url} />
  <Footer />
</MainLayout>
