---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MainPosts from '../components/MainPosts.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<!DOCTYPE html>
<html lang="en" class="color-scheme">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark:bg-zinc-800 dark:text-slate-200">
		<Header title={SITE_TITLE} />
		<main class="w-11/12 md:w-3/5 mx-auto mt-2">
			<MainPosts posts={posts}></MainPosts>
		</main>
		<Footer />
	</body>
</html>
