---
const today = new Date();
---

<footer class="text-sm text-neutral-400">
	&copy; {today.getFullYear()}&nbsp;Powered&nbsp;by
	<a href="https://astro.build/">Astro</a>&nbsp;&
	<a href="https://github.com/yemo0/just-my-type-blog">Just My Type</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
