---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

---

<header class="flex w-11/12 md:w-3/5 h-16 mx-auto items-center justify-between">
	<div class="text-2xl font-bold">
		<a href="/">{SITE_TITLE}</a>
		<button accesskey="t" title="(Alt + T)">
			<svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path></svg>
			<svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
		</button>
	</div>
	<nav class="hidden md:block">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav>
</header>

<script>
	// Icons
	const sunIcon = document.querySelector("#sun")
	const moonIcon = document.querySelector("#moon")

	// Theme Vars
	const userTheme = localStorage.getItem("theme")
	const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches

	// Icon Toggling
	const iconToggle = () => {
		moonIcon!.classList.toggle("hidden")
		sunIcon!.classList.toggle("hidden")
	}

	// Initial Theme Check
	const themeCheck = () => {
		if (userTheme === "dark" || (!userTheme && systemTheme)) {
			document.documentElement.classList.add("dark")
			moonIcon!.classList.add("hidden")
			return
		}
		sunIcon!.classList.add("hidden")
	}

	// Manual Theme Switch
	const themeSwitch = () => {
		if (document.documentElement.classList.contains("dark")) {
			document.documentElement.classList.remove("dark")
			localStorage.setItem("theme", "light")
			iconToggle()
			return
		}
		document.documentElement.classList.add("dark")
		localStorage.setItem("theme", "dark")
		iconToggle()
	}

	// call theme switch on clicking buttons
	sunIcon!.addEventListener("click", () => {
		themeSwitch()
	})
	moonIcon!.addEventListener("click", () => {
		themeSwitch()
	})

	// invoke theme check on initial load
	themeCheck()
</script>