---
const {pageURL} = Astro.props
---

<nav class="flex w-11/12 md:w-3/5 mx-auto justify-between">
    {pageURL.prev ? <a class="block bg-black text-white text-sm px-3 py-2 rounded-2xl" href={pageURL.prev}>Prev</a> : <a></a>}
    {pageURL.next ? <a class="block bg-black text-white text-sm px-3 py-2 rounded-2xl" href={pageURL.next}>Next </a> : null}
</nav>
