<div class="suspension-panel hidden fixed right-4 bottom-5 md:right-12 md:bottom-20">
    <button class="go-to-top bg-gray-200 w-10 h-10 p-3 rounded-full text-zinc-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentcolor"><path d="M12 6H0l6-6z"></path></svg>
    </button>
</div>