---
const { tags } = Astro.props;
---

<ul class="list-none flex p-0">
  {
    tags !== undefined
      ? tags.map((tag) => (
          <a href={"/tags/" + tag} class="no-underline">
            <li
              class="px-4 py-2 mr-3 bg-neutral-400 border border-neutral-600 rounded-md
            dark:bg-neutral-900 dark:border-none"
            >
              {tag}
            </li>
          </a>
        ))
      : null
  }
</ul>
