---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en" class="color-scheme">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <meta charset="UTF-8" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /><title>Document</title>
  </head>
  <body class="flex-col dark:bg-neutral-1000 dark:text-slate-200">
    <slot />
  </body>
</html>
